# interface jlink
interface cmsis-dap
transport select swd
source [find /usr/share/openocd/scripts/target/stm32f1x.cfg]
# source [find /usr/share/openocd/scripts/target/stm32f4x.cfg]
adapter_khz 1000
# adapter_khz 20000 # 频率过高
program target/thumbv7m-none-eabi/debug/examples/day01_blinky 





# reset halt
# reset run



# 重启：debug测试时关闭 =============== 
reset
shutdown
