# 使用CMSIS-DAP协议进行SWD调试
source [find interface/cmsis-dap.cfg]

# stlink
# source [find interface/stlink.cfg]
# source [find interface/stlink-v2.cfg]


# 目标设备芯片类型和调试速率
set TARGET_NAME "cortex_m"
set CHIPNAME "stm32f103c8"

# clock speed 1000 kHz
# adapter speed 1000

# 目标设备连接方式和接口编号
transport select hla_swd
# set CONNECT_MODE smp
# set CONNECT_TYPE hla_swd
# hla_layout stlink
# hla_port 4242

# 选择目标设备
source [find target/stm32f1x.cfg]

# # interface jlink
# interface cmsis-dap
# transport select swd
# source [find /usr/share/openocd/scripts/target/stm32f1x.cfg]
# # source [find /usr/share/openocd/scripts/target/stm32f4x.cfg]
# adapter_khz 1000
# # adapter_khz 20000 # 频率过高
# # program zig-out/bin/stm32-zig-blinky_irq.elf
# # program zig-out/bin/stm32-zig-blinky_irq.bin
# # program zig-out/bin/stm32-zig-blinky.elf
# # program zig-out/bin/stm32-zig-blinky.bin
# # program zig-out/bin/stm32-zig-uart.elf verify
# # program target/thumbv7m-none-eabi/debug/examples/hello verify
# # program zig-out/bin/stm32-zig-uart_irq.elf verify
# # program zig-out/bin/stm32-zig-adc.elf
# # program zig-out/bin/stm32-zig-adc_group.elf
# # program zig-out/bin/stm32-zig-adc_temp.elf
# # program zig-out/bin/stm32-zig-adc_dma.elf
# # program zig-out/bin/stm32-zig-blinky_irq.elf
# # program zig-out/bin/stm32-zig-adc_temp_irq.elf
#
#
# reset halt
# reset run
#
#
#
# # 重启：debug测试时关闭 =============== 
# # reset
# # shutdown
#
