<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android">

    <uses-feature android:glEsVersion="0x00030000" android:required="true" />
    <uses-feature android:name="android.hardware.camera" android:required="false" />
    <uses-feature
        android:name="android.hardware.vulkan.level"
        android:required="false"
        android:version="0" />

    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission
        android:name="android.permission.WRITE_EXTERNAL_STORAGE"
        android:maxSdkVersion="28" />

    <application
        android:allowBackup="false"
        android:hardwareAccelerated="true"
        android:label="GPUI Mobile Demo"
        android:theme="@style/GpuiTheme">
        <activity
            android:name="dev.gpui.mobile.GpuiActivity"
            android:configChanges="orientation|screenSize|screenLayout|smallestScreenSize|keyboardHidden|keyboard|navigation|uiMode|density"
            android:exported="true"
            android:launchMode="singleTask"
            android:theme="@style/GpuiSplashTheme">
            <meta-data
                android:name="android.app.lib_name"
                android:value="${nativeLibraryName}" />

            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="dev.gpui.mobile.GpuiQrScannerActivity"
            android:screenOrientation="portrait"
            android:theme="@style/GpuiTheme" />
        <activity
            android:name="dev.gpui.mobile.GpuiPermissionActivity"
            android:theme="@style/GpuiTheme" />
        <activity
            android:name="dev.gpui.mobile.GpuiPickerActivity"
            android:theme="@style/GpuiTheme" />
        <activity
            android:name="dev.gpui.mobile.GpuiWebViewActivity"
            android:configChanges="orientation|screenSize|screenLayout|keyboardHidden|keyboard|navigation|uiMode|density"
            android:theme="@style/GpuiTheme" />
    </application>

</manifest>
